/* etiquetas */
body{
    margin: 50px;
    padding: 50px 100px;
    border: 1px solid black;
    background-color: antiquewhite;
}

img{
    width: 100%;
}

/* clases */
.textoCentrado{
    text-align: center;
}

.textoRojo{
    color:brown
}

